<h2>Post details:</h2>
<br/>
<p>
    <%= @results[:name_autor] %>
      <br/>
        <%= @results[:content] %>
      <br/>
      <br/>
    Added at <%= @results[:created_at] %>
    <br/>
  </p>

  <h4>Comments:</h4>
  <br/>
  <% @comments.each do |comment| %>
    <p>
      <%= comment[:comment_content]%>
      <br/>
      <br/>
      <span style="font-size: 75%; color: #999">Added at <%= comment[:created_at]%></span>
    </p>
    <hr/>
  <% end %>
<form action="/details/<%= @results[:id]%>" method="POST" role="form">
    <div class="form-group">

      <textarea name="comment[comment_content]" class="form-control" rows="6" placeholder="Type post text here"></textarea>
    </div>
  </br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Enter</button>
    </div>
  </form>
